
<div class="a"><%= image_tag('star.png', :size => "200x200") %></div>

<div class="height">
  <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="catiek">
    catie kennedy
  </div>

  <div class="forever">
    web developer<%= image_tag('danglingheart', :size => "100x60") %>
  </div>
</div>



<div class="contactspace"></div>

<div class="developer"><strong>Hello World</strong></div>

<div class="contactspace"></div>

<div class="meat">
  <p class="intro">I graduated high school and began college at age 16. I graduated from DevBootcamp at age 18. Because of my positivity and performance as a student, DBC hired me as a teaching assistant with Phase 1 students, which has a focus on advanced Ruby.</p>
  <p class="intro">I am versatile and willing to work as multiple positions in the tech industry. I work well with others and with strong personalities. I work hard. I am cultured and well-traveled. I am respectful. I love a good challenge. I am good with direction. I can follow, and I can lead.</p>
</div>

<div class="contactspace"></div>

<div class="developer"><strong>click the words to see what i like to do!</strong></div>

<div class="contactspace"></div>

<div class="meat">
  <p id="shaker">d a n c e</p>
  <br>

  <p id="bubbles"><span class="scuba"><%= image_tag('bubbles2.gif', :size => "100") %></span>s c u b a  d i v e<span class="scuba"><%= image_tag('bubbles2.gif', :size => "100") %></p>
  <br>
  <p id="baby">s w i m<span id="swim"><%= image_tag('swim3.png', :size => "225x200") %></span></span></p>
  <br>
  <p id="red"><span id="paddle"><%= image_tag('paddle2.png', :size => "200x200") %></span>p a d d l e  b o a r d</p>
  <br>
  <p id="avid"><span class="traveler"><%= image_tag('travel1oval.png', :size => "175x200") %></span>t r a v e l<span class="traveler"><%= image_tag('travel2oval.png', :size => "175x200") %></span></p>

</div>

<div class="contactspace"></div>

<div class="developer"><strong>projects</strong></div>

<div class="contactspace"></div>

<div class="meat">
  <p class="lifetime"><strong><%= link_to "LifeTime", 'http://life-time.herokuapp.com' %></strong></p>
  <br>
  <p class="panday"><strong><%= link_to "Panday", 'http://panday.herokuapp.com' %></strong></p><br>
</div>

<div class="contactspace"></div>

<div class="developer"><strong>catie kennedy : contact me</strong></div>

<div class="contactspace"></div>

<div class="carlton">
  <%= image_tag('carlton')%>
</div>

<div class="contactspace"></div>

<footer class="links">
  <p id="github"><%= link_to "Git with me", 'http://github.com/yaysunshine' %><%= image_tag('github_logo.png', :size => "50x50") %></p>
    <p id="linkedin"><%= link_to 'Link with me', 'http://www.linkedin.com/in/catiek' %><%= image_tag('linked.png', :size => "50x50") %></p>
  <p id="twitter"><%= link_to "Tweet with me", 'http://twitter.com/ckennedyay' %><%= image_tag('tweet.png', :size => "40x40") %></p>
</footer>