

<div class="catiek">
  catie kennedy
</div>

<div class="forever">
  forever learning web developer<%= image_tag('danglingheart', :size => "100x60") %>
</div>

<div class="contactspace"></div>

<div class="carlton">
  <%= image_tag('twinkling3', :size => "300x200") %><%= image_tag('twinkling3', :size => "300x200") %><%= image_tag('twinkling3', :size => "300x200") %><%= image_tag('twinkling3', :size => "300x200") %>
</div>

<div class="developer"><strong>front-end : ux : ui</strong></div>

<div class="contactspace"></div>

<div class="meat">
  <p>I am an expert at expedited learning.</p>
  <p>Two years ago, at age 16, I was graduated from high school and attending college for engineering until I found DevBootcamp this past summer.</p>
  <br><p id="glitter"><strong>I have graduated DBC and am looking to continue to ripen my skills in front-end and user-centered design.</strong></p><span id="flower"><%= asset_path('flower.jpeg') %></span>
  <div class="contactspace"></div>
  <p>As an extremely hard-working young woman, I bring energy, positivity, and open communication to my workplace.</p>
  <p>I am organized, detailed, and thrive on making code visually stimulating.</p>
</div>

<div class="contactspace"></div>

<div class="developer"><strong>what do I want?</strong></div>

<div class="contactspace"></div>

<div class="meat">
  <p id="shaker">I want to shake people with my design.</p>
  <br><p>I want to make code beautiful and <strong><span class="big"> impactful.</span></strong></p>
  <div class="contactspace"></div>
  <p>I want the user to feel as though s/he was a part of all the blood, sweat, tears, and long nights that went into the program.</p>
  <div class="contactspace"></div>
  <p><strong><span class="big">I want</span></strong> to design and create code.</p>
</div>

<div class="contactspace"></div>

<div class="developer"><strong>projects</strong></div>

<div class="contactspace"></div>

<div class="meat">
  <p class="lifetime"><%= link_to "LifeTime", 'http://life-time.herokuapp.com' %><br><br><%= image_tag('running', :size => "300x200") %>
  <p class="lifetime"><%= link_to "Panday", 'http://panday.herokuapp.com' %><br><br><%= image_tag('pandas', :size => "300x200") %>
</div>

<div class="contactspace"></div>

<div class="developer"><strong>catie kennedy : contact me</strong></div>

<div class="contactspace"></div>

<div class="carlton">
  <%= image_tag('carlton')%>
</div>

<div class="contactspace"></div>

<div class="links">
  <p id="github"><%= link_to "Git with me", 'http://github.com/yaysunshine' %></p>
  <p id="linkedin"><%= link_to 'Link with me', 'http://www.linkedin.com/in/catiek' %></p>
  <p id="twitter"><%= link_to "Tweet with me", 'http://twitter.com/ckennedyay' %></p>
</div>