


<div class="height">
  <div class="stars"></div>
  <div class="twinkling"></div>
  <div class="catiek">
    catie kennedy
  </div>

  <div class="forever">
    web developer
  </div>
</div>

<div id="contactspace"></div>

<div class="developer"><strong>Hello World</strong></div>

<div class="contactspace"></div>

<div class="meat">
  <p class="intro">A born and raised San Franciscan, team player, and quick learner, I sincerely enjoy being in a state of continuous learning. I thrive on breaking down and solving problems individually and with others. From my experience, best work comes from communication and hard work. When I am taken on for an opportunity, I put all my energy into being a positive asset for the team. I am versatile and like to be with companies where I am valued and supported in expanding my knowledge and fulfilling my potential.</p>
</div>

<div class="contactspace"></div>

<div class="developer"><strong>projects</strong></div>

<div class="contactspace"></div>

<div class="meat">
  <p class="appathy"><strong><%= link_to "Appathy", 'http://appathy.herokuapp.com'%></strong></p>
  <br>
  <p class="seekbot"><strong><%= link_to "Seek Bot", 'http://github.com/yaysunshine/SeekBot'%></strong></p>
  <br>
  <p class="panday"><strong><%= link_to "Panday", 'http://panday.herokuapp.com' %></strong></p>
  <br>
  <p class="lifetime"><strong><%= link_to "LifeTime", 'http://life-time.herokuapp.com' %></strong></p>
  <br>
  <p class="coral"><strong><%= link_to "Coral", 'http://github.com/yaysunshine/coral' %></strong></p>
  <br>
</div>

<div class="developer"><strong>click the words to see what i like to do!</strong></div>

<div class="contactspace"></div>

<div class="meat">
  <p id="shaker">d a n c e</p>
  <br>

  <p id="bubbles"><span class="scuba"><%= image_tag('bubbles2.gif', :size => "100") %></span>s c u b a  d i v e<span class="scuba"><%= image_tag('bubbles2.gif', :size => "100") %></p>
  <br>
  <p id="baby">s w i m<span id="swim"><%= image_tag('swim3.png', :size => "225x200") %></span></span></p>
  <br>
  <p id="red"><span id="paddle"><%= image_tag('paddle2.png', :size => "200x200") %></span>p a d d l e  b o a r d</p>
  <br>
  <p id="avid"><span class="traveler"><%= image_tag('travel1oval.png', :size => "175x200") %></span>t r a v e l<span class="traveler"><%= image_tag('travel2oval.png', :size => "175x200") %></span></p>

</div>

<div class="contactspace"></div>


<div class="contactspace"></div>

<div class="developer"><strong>language : Ruby</strong></div>

<div class="contactspace"></div>

<div class="carlton">
  <%= link_to "def contact_me(click)", 'http://cmk.herokuapp.com'%>
</div>

<footer class="links">
  <p id="github"><%= link_to "if click == git with me", 'http://github.com/yaysunshine' %><p class="indent">puts <%= image_tag('github_logo.png', :size => "50x50") %></p></p>
  <p id="linkedin"><%= link_to "elsif click == link with me", 'http://www.linkedin.com/in/catiek' %><p class="indent">puts <%= image_tag('linked.png', :size => "50x50") %></p></p>
  <p id="twitter"><%= link_to "else", 'http://twitter.com/ckennedyay' %><p class="indent">puts <%= image_tag('tweet.png', :size => "40x40") %></p></p>
  <p id="twitter">end</p>
</footer>

<div class="carlton">
  <%= link_to "end", 'http://cmk.herokuapp.com'%>
</div>